@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}
/* header */
header{
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat bottom; 
  background-size: cover;
  background-color: #464646;
  position: relative;
  color: #00FEA5;
  background-attachment: fixed;
}
header h1{
  position: fixed;
  font-weight: bolder;
  left: 10px;
  top: 30px;
  z-index: 120;
  font-size: 22px;
  z-index: 1000;
}
header .dl{
  position: absolute;
  bottom: 70px;
  left: 10%;
  transform: translate(-40%,-10%);
}
header .dl h2.hi {
  font-size: 80px;
  font-weight: 700;
}
header .dl p.name {
  font-size: 46px;
}
header .dl p.stage {
  font-size: 22px;
  font-weight: 300;
}
header nav{
  position: fixed;
  width: 100%;
  z-index: 100;
}
header nav ul{
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
  overflow: hidden;
}
header nav ul li{
  display: inline-block;
  padding: 20px;
}
header nav ul li a{
  text-decoration: none;
  color: #00FEA5;
  font-weight: bold;
  font-size: 20px;
}
header nav ul li a:hover{
  font-size: 25px;
  padding-bottom: 3px;
  border-bottom: 3px solid #00FEA5;
  color: #00FEA5;
}
nav.scroll ul{
  background: #000;
}

.hamburg{
  display: none;
  color: #00FEA5;
  background: black;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  padding: 15px 24px;
}

@media (min-width:1600px){
  .about{
    height: 100vh;
  }
  
  .skills{
    height: 100vh;
  }

  .education{
    height: 80vh;
  }
}
@media(max-width:1599px){
  .pdp{
    width: 100%;
  }
  header .dl{
    transform: translate(-10%,-10%);
  }
  .hamburg{
    display: block;
  }

  nav ul{
    max-height: 0px;
    background: #000;
  }

  .menu{
    max-height: 30em;
  }

  nav ul li{
    width: 100%;
    padding: 24px 0;
  }
}
/* main */
main h2,footer h2{
  text-transform: uppercase;
}

.about{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.skills{
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.education{
  background-color: whitesmoke;
}

.portfolio{
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.experience{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.contact{
  background-color: whitesmoke;
}

main p{
  color: black;
}

main img{
  border-radius: 10px;
}

/* contenu barre de progression */
.progress-container {
  width: 100%;
  height: 8px;
  background: black;
}

header .progress-bar {
  height: 8px;
  background-color: #00FEA5;
  width: 0%;
}

main .progress-bar {
  background-color: #00FEA5;
  width: 0%;
}


/* timeline */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-timeline {
  width: 100%;
  position: relative;
  padding: 80px 0 250px 0;
  margin-bottom: 100px;
}

.ligne {
  height: 1000px;
  width: 8px;
  margin: 0 auto;
  background: #333;
}

.rond {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  border: 1px solid #000;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}

.box {
  color: #333;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  border-radius: 3px;
  height: auto;
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.b1 {
  top: 80px;
  left: calc(50% - 270px);
}
.b2 {
  top: 386px;
  left: calc(50% + 270px);
}
.b3 {
  top: 692px;
  left: calc(50% - 270px);
}
.b4 {
  top: 1000px;
  left: calc(50% + 270px);
}

.box p {
  line-height: 20px;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 1000px) {

  .ligne {
      position: relative;
      left: 0px;
  }
  .rond {
      left: calc(50% + 0px);
  }
  .box {
      left: calc(50% - 0px);
  }
}

@media screen and (max-width: 405px) {

  .box {
      width: 300px;
  }

  .ligne {
    height: 1000px;
  }

}

@media screen and (max-width: 550px) {

  header h1{
    font-size: 20px;
  }

}

@media screen and (max-width: 380px) {

  header h1{
    font-size: 15px;
  }

}

@media screen and (max-width: 300px) {

  header h1{
    font-size: 12px;
  }

  .box {
    width: 200px;
  }

  .b4 {
    top: 1100px;
  }
  .ligne {
    height: 1100px;
  }
  .r4 {
    top:1100px
  }
}

@media screen and (max-width: 250px) {

  header h1{
    font-size: 10px;
  }
}

@media screen and (max-width: 395px) {

  header .dl h2.hi {
    font-size: 50px;
    font-weight: 700;
  }
  header .dl p.name {
    font-size: 26px;
  }
  header .dl p.stage {
    font-size: 15px;
    font-weight: 300;
  }
}

/* footer */
/* contact */

.contact-box {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}

.contact-box i {
  font-size: 60px;
  padding-bottom: 30px;
}

.phone{
  color: #000;
  
}

.email{
  color: #000;
  
}

.linkedin{
  color: #000;
  
}

.city{
  color: #000;
  
}

.btn-arrow{
  height: 60px;
  width: 60px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  border-radius: 50%;
  position: fixed;
  right: 17px;
  bottom: 10px;
  cursor: pointer;
  box-shadow: 0 6px #03d189;
  opacity: 0;
}

.btn-arrow:hover{
  box-shadow: 0 4px #03d189;
  bottom: 6px;
}

/* parallax */
#para1{
  background: url("https://images.unsplash.com/photo-1623934199716-dc28818a6ec7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#para2{
  background: url("https://images.pexels.com/photos/750913/pexels-photo-750913.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 50%;;
}

#para3{
  background: url("https://images.pexels.com/photos/750913/pexels-photo-750913.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 50%;;
}

#para4{
  background: url("https://images.pexels.com/photos/2277980/pexels-photo-2277980.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 60% 50%;
}

#para5{
  background: url("https://images.pexels.com/photos/1009136/pexels-photo-1009136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 100%;
  height: 455px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% 100%; 
}

/* changement couleur scollbar */
::-webkit-scrollbar{
  width: 0;

}

.scrollbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 0;
  opacity: 0;
  background-image: linear-gradient(to top, #00ff8c 0%, #055f97 100%);
}

.clickScrollbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: rgba(0, 0, 0, 0.301);
  z-index: 99;
}